In [1]:
import pandas as pd
import numpy as np

In [2]:
pop_data = pd.read_csv('WA_population.csv', parse_dates={'Timestamp': ['Year']},index_col='Timestamp')
pop_data.tail()

,County,FIPS_state_county,Gender,AgeGroup,Population
Timestamp,,,,,
2014-01-01,Wahkiakum County,53069,2,18,72
2014-01-01,Walla Walla County,53071,2,18,1119
2014-01-01,Whatcom County,53073,2,18,2554
2014-01-01,Whitman County,53075,2,18,445
2014-01-01,Yakima County,53077,2,18,2715

In [37]:

county_list = pop_data['County'].unique()
gender_list = pop_data['Gender'].unique()
Age_Groups = pop_data['AgeGroup'].unique()
final_data = pd.DataFrame(columns = ['Population','County','Gender','AgeGroup'])

for county in county_list:
    print "Working on County: ", county
    for gender in gender_list:
        for age_group in Age_Groups:
            pop_subset = pop_data[(pop_data['County'] == county) & (pop_data['Gender'] == gender) & (pop_data['AgeGroup'] == age_group)]
            pop_interpolated = pd.DataFrame(pop_subset['Population'].resample('M').interpolate(method='linear'))
            length = len(pop_interpolated)
            pop_interpolated['County'] = [county] * length
            pop_interpolated['Gender'] = [gender] * length
            pop_interpolated['AgeGroup'] = [age_group] * length
            pop_interpolated = pop_interpolated.round({"Population":0})
            final_data = pd.concat([final_data,pop_interpolated])
    
            
print final_data.head(), final_data.tail()

Working on County:  Adams County
Working on County:  Asotin County
Working on County:  Benton County
Working on County:  Chelan County
Working on County:  Clallam County
Working on County:  Clark County
Working on County:  Columbia County
Working on County:  Cowlitz County
Working on County:  Douglas County
Working on County:  Ferry County
Working on County:  Franklin County
Working on County:  Garfield County
Working on County:  Grant County
Working on County:  Grays Harbor County
Working on County:  Island County
Working on County:  Jefferson County
Working on County:  King County
Working on County:  Kitsap County
Working on County:  Kittitas County
Working on County:  Klickitat County
Working on County:  Lewis County
Working on County:  Lincoln County
Working on County:  Mason County
Working on County:  Okanogan County
Working on County:  Pacific County
Working on County:  Pend Oreille County
Working on County:  Pierce County
Working on County:  San Juan County
Working on County:  Skagit County
Working on County:  Skamania County
Working on County:  Snohomish County
Working on County:  Spokane County
Working on County:  Stevens County
Working on County:  Thurston County
Working on County:  Wahkiakum County
Working on County:  Walla Walla County
Working on County:  Whatcom County
Working on County:  Whitman County
Working on County:  Yakima County
            Population        County  Gender  AgeGroup
1990-01-31         678  Adams County       1         1
1990-02-28         682  Adams County       1         1
1990-03-31         685  Adams County       1         1
1990-04-30         688  Adams County       1         1
1990-05-31         691  Adams County       1         1             Population         County  Gender  AgeGroup
2013-09-30        2708  Yakima County       2        18
2013-10-31        2710  Yakima County       2        18
2013-11-30        2712  Yakima County       2        18
2013-12-31        2713  Yakima County       2        18
2014-01-31        2715  Yakima County       2        18

In [38]:
final_data.reset_index(level = 0, inplace=True)
final_data['year'] = pd.DatetimeIndex(final_data['index']).year
final_data['month'] = pd.DatetimeIndex(final_data['index']).month
final_data.to_csv('Interpolated_Population.csv')

In [49]:
import glob
import os
# h_data = pd.read_csv('/Users/Akash/Desktop/Projects/hcup-data/Extracted_hospcv/')
path = '/Users/Akash/desktop/Projects/hcup-data/Extracted_hospcsv'                 
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
h_data = pd.concat((pd.read_csv(f) for f in all_files))    # doesn't create a list, nor d

/Users/Akash/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

In [92]:
final_data.head()

       index  Population        County  Gender  AgeGroup  year  month
0 1990-01-31         678  Adams County       1         1  1990      1
1 1990-02-28         682  Adams County       1         1  1990      2
2 1990-03-31         685  Adams County       1         1  1990      3
3 1990-04-30         688  Adams County       1         1  1990      4
4 1990-05-31         691  Adams County       1         1  1990      5

In [198]:
h_data.describe

<bound method DataFrame.describe of          age  female  ayear  amonth  pstco2    zip
2         63       1   2004       1   53033  98199
3         51       1   2004       1   53033  98103
4         84       0   2004       1   53033  98199
5         30       1   2004       1   53033  98119
6         37       1   2004       1   53033  98117
7          0       0   2004       1   53033  98103
8         32       1   2004       1   53033  98103
9         32       1   2004       1   53033  98122
10        74       0   2004       1   53033  98133
11        30       1   2004       1   53033  98117
14        50       1   2004       1   53033  98103
15        81       1   2004       1   53033  98109
18        47       0   2004       1   53033  98052
20        51       1   2004       1   53005  99336
21        56       1   2004       1   53035  98367
22        68       0   2004       1   53033  98107
30        85       1   2004       1   53033  98177
33        58       1   2004       1   53009  98382
38        42       1   2004       1   53033  98166
56        87       0   2004       1   53033  98133
57        83       0   2004       1   53033  98103
58        81       1   2004       1   53033  98199
59         0       0   2004       1   53033  98117
60        29       1   2004       1   53033  98115
61        86       1   2004       1   53033  98199
62        35       1   2004       1   53033  98103
63        68       0   2004       1   53033  98107
64        78       1   2004       1   53033  98107
65        57       0   2004       1   53033  98108
66        62       0   2004       1   53033  98121
...      ...     ...    ...     ...     ...    ...
5709149   25       0   2013      12   53033  98133
5709150   26       1   2013      12   53033  98106
5709151   34       1   2013      12   53061  98012
5709152   34       0   2013      12   53033  98022
5709153   25       0   2013      12   53033  98023
5709154   34       0   2013      12   53033  98166
5709155   34       1   2013      10   53033  98117
5709156   19       1   2013       9   53033  98118
5709157   18       0   2013      12   53033  98104
5709158   23       0   2013      12   53033  98047
5709159   52       0   2013      12   53033  98030
5709160   50       1   2013      11   53033  98126
5709161   28       0   2013      12   53033  98126
5709162   44       1   2013      12   53033  98059
5709163   29       0   2013      12   53033  98133
5709164   52       0   2013      11   53033  98104
5709165   66       1   2013      10   53033  98002
5709166   59       0   2013      12   53061  98012
5709167   52       0   2013      12   53033  98168
5709168   61       1   2013      12   53033  98146
5709169   19       0   2013      12   53033  98155
5709170   33       0   2013      12   53033  98042
5709171   57       1   2013      12   53033  98032
5709172   28       1   2013      12   53033  98125
5709173   51       0   2013      12   53033  98011
5709174   39       0   2013      12   53033  98104
5709175   27       1   2013      12   53033  98058
5709176   42       0   2013      12   53033  98031
5709177   21       0   2013      11   53033  98092
5709178   30       1   2013      12   53033  98136

[5702906 rows x 6 columns]>

In [125]:
h_data = h_data[h_data['ayear'] >= 2004]
h_04 = h_data[(h_data['age'] <=4)]
h_grouped = pd.DataFrame(h_04.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_grouped['AgeGroup'] = [1] * len(h_grouped)
h_grouped.reset_index(level=0, inplace=True)
h_grouped.reset_index(level=0, inplace=True)
h_grouped.reset_index(level=0, inplace=True)
h_grouped.reset_index(level=0, inplace=True)
print len(h_grouped)

h_09 = h_data[(h_data['age'] >= 5) & (h_data['age'] <= 9)]
h_09 = pd.DataFrame(h_09.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_09['AgeGroup'] = [2] * len(h_09)
h_09.reset_index(level=0, inplace=True)
h_09.reset_index(level=0, inplace=True)
h_09.reset_index(level=0, inplace=True)
h_09.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_09])
print len(h_grouped)

h_14 = h_data[(h_data['age'] >= 10) & (h_data['age'] <= 14)]
h_14 = pd.DataFrame(h_14.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_14['AgeGroup'] = [3] * len(h_14)
h_14.reset_index(level=0, inplace=True)
h_14.reset_index(level=0, inplace=True)
h_14.reset_index(level=0, inplace=True)
h_14.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_14])
print len(h_grouped)

h_19 = h_data[(h_data['age'] >= 15) & (h_data['age'] <= 19)]
h_19 = pd.DataFrame(h_19.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_19['AgeGroup'] = [4] * len(h_19)
h_19.reset_index(level=0, inplace=True)
h_19.reset_index(level=0, inplace=True)
h_19.reset_index(level=0, inplace=True)
h_19.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_19])
print len(h_grouped)

h_24 = h_data[(h_data['age'] >= 20) & (h_data['age'] <= 24)]
h_24 = pd.DataFrame(h_24.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_24['AgeGroup'] = [5] * len(h_24)
h_24.reset_index(level=0, inplace=True)
h_24.reset_index(level=0, inplace=True)
h_24.reset_index(level=0, inplace=True)
h_24.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_24])
print len(h_grouped)

h_29 = h_data[(h_data['age'] >= 25) & (h_data['age'] <= 29)]
h_29 = pd.DataFrame(h_29.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_29['AgeGroup'] = [6] * len(h_29)
h_29.reset_index(level=0, inplace=True)
h_29.reset_index(level=0, inplace=True)
h_29.reset_index(level=0, inplace=True)
h_29.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_29])
print len(h_grouped)

h_34 = h_data[(h_data['age'] >= 30) & (h_data['age'] <= 34)]
h_34 = pd.DataFrame(h_34.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_34['AgeGroup'] = [7] * len(h_34)
h_34.reset_index(level=0, inplace=True)
h_34.reset_index(level=0, inplace=True)
h_34.reset_index(level=0, inplace=True)
h_34.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_34])
print len(h_grouped)

h_39 = h_data[(h_data['age'] >= 35) & (h_data['age'] <= 39)]
h_39 = pd.DataFrame(h_39.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_39['AgeGroup'] = [8] * len(h_39)
h_39.reset_index(level=0, inplace=True)
h_39.reset_index(level=0, inplace=True)
h_39.reset_index(level=0, inplace=True)
h_39.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_39])
print len(h_grouped)

h_44 = h_data[(h_data['age'] >= 40) & (h_data['age'] <= 44)]
h_44 = pd.DataFrame(h_44.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_44['AgeGroup'] = [9] * len(h_44)
h_44.reset_index(level=0, inplace=True)
h_44.reset_index(level=0, inplace=True)
h_44.reset_index(level=0, inplace=True)
h_44.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_44])
print len(h_grouped)

h_49 = h_data[(h_data['age'] >= 45) & (h_data['age'] <= 49)]
h_49 = pd.DataFrame(h_49.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_49['AgeGroup'] = [10] * len(h_49)
h_49.reset_index(level=0, inplace=True)
h_49.reset_index(level=0, inplace=True)
h_49.reset_index(level=0, inplace=True)
h_49.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_49])
print len(h_grouped)

h_54 = h_data[(h_data['age'] >= 50) & (h_data['age'] <= 54)]
h_54 = pd.DataFrame(h_54.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_54['AgeGroup'] = [11] * len(h_54)
h_54.reset_index(level=0, inplace=True)
h_54.reset_index(level=0, inplace=True)
h_54.reset_index(level=0, inplace=True)
h_54.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_54])
print len(h_grouped)

h_59 = h_data[(h_data['age'] >= 55) & (h_data['age'] <= 59)]
h_59 = pd.DataFrame(h_59.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_59['AgeGroup'] = [12] * len(h_59)
h_59.reset_index(level=0, inplace=True)
h_59.reset_index(level=0, inplace=True)
h_59.reset_index(level=0, inplace=True)
h_59.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_59])
print len(h_grouped)

h_64 = h_data[(h_data['age'] >= 60) & (h_data['age'] <= 64)]
h_64 = pd.DataFrame(h_64.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_64['AgeGroup'] = [13] * len(h_64)
h_64.reset_index(level=0, inplace=True)
h_64.reset_index(level=0, inplace=True)
h_64.reset_index(level=0, inplace=True)
h_64.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_64])
print len(h_grouped)

h_69 = h_data[(h_data['age'] >= 65) & (h_data['age'] <= 69)]
h_69 = pd.DataFrame(h_69.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_69['AgeGroup'] = [14] * len(h_69)
h_69.reset_index(level=0, inplace=True)
h_69.reset_index(level=0, inplace=True)
h_69.reset_index(level=0, inplace=True)
h_69.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_69])
print len(h_grouped)

h_74 = h_data[(h_data['age'] >= 70) & (h_data['age'] <= 74)]
h_74 = pd.DataFrame(h_74.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_74['AgeGroup'] = [15] * len(h_74)
h_74.reset_index(level=0, inplace=True)
h_74.reset_index(level=0, inplace=True)
h_74.reset_index(level=0, inplace=True)
h_74.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_74])
print len(h_grouped)

h_79 = h_data[(h_data['age'] >= 75) & (h_data['age'] <= 79)]
h_79 = pd.DataFrame(h_79.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_79['AgeGroup'] = [16] * len(h_79)
h_79.reset_index(level=0, inplace=True)
h_79.reset_index(level=0, inplace=True)
h_79.reset_index(level=0, inplace=True)
h_79.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_79])
print len(h_grouped)

h_84 = h_data[(h_data['age'] >= 80) & (h_data['age'] <= 84)]
h_84 = pd.DataFrame(h_84.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_84['AgeGroup'] = [17] * len(h_84)
h_84.reset_index(level=0, inplace=True)
h_84.reset_index(level=0, inplace=True)
h_84.reset_index(level=0, inplace=True)
h_84.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_84])
print len(h_grouped)

h_85 = h_data[(h_data['age'] >= 85)]
h_85 = pd.DataFrame(h_85.groupby(['female','ayear','amonth','pstco2']).count()['age'])
h_85['AgeGroup'] = [18] * len(h_85)
h_85.reset_index(level=0, inplace=True)
h_85.reset_index(level=0, inplace=True)
h_85.reset_index(level=0, inplace=True)
h_85.reset_index(level=0, inplace=True)
h_grouped = pd.concat([h_grouped,h_85])
print len(h_grouped)

h_grouped.rename(columns={"age":"Patients_Count", "female":"Gender",'pstco2':'FIPS','ayear':"year",'amonth':'month'}, inplace=True)
# h_grouped[h_grouped['Gender'] == 0]['Gender'] = 1 # Male
# h_grouped[h_grouped['Gender'] == 1]['Gender'] = 2 # Female
h_grouped['Gender'].replace(to_replace=[0,1], value=[1,2], inplace=True)
h_grouped.to_csv("Aggregated_Hosp.csv")
print h_grouped.head(), h_grouped.tail()

14700
22193
30214
40596
52280
63991
75699
87646
100440
114506
130041
146776
163952
181497
197908
213225
227288
241364
    FIPS  month  year  Gender  Patients_Count  AgeGroup
0   2020      1  2004       1               4         1
1   2122      1  2004       1               1         1
2   2201      1  2004       1               1         1
3   6037      1  2004       1               2         1
4  16009      1  2004       1               2         1         FIPS  month  year  Gender  Patients_Count  AgeGroup
14071  53069     12  2013       2               1        18
14072  53071     12  2013       2              22        18
14073  53073     12  2013       2              71        18
14074  53075     12  2013       2              11        18
14075  53077     12  2013       2              62        18

In [123]:
c = pop_data['County'].unique()
f = pop_data['FIPS_state_county'].unique()

In [109]:
c = pop_data['County'].unique().T
f = pop_data['FIPS_state_county'].unique().T
county = pd.DataFrame([c,f]).T
county.rename(columns={0:'County',1:'FIPS'}, inplace=True)

In [115]:
final_pop = final_data.merge(county, how="inner", on="County")
final_pop = final_pop[['year','month','County','FIPS','Gender','AgeGroup','Population']]
final_pop.to_csv("Final_Population_Interpolated.csv")
pop_04 = final_pop[final_pop['year'] >= 2004]

In [126]:
hosp_merged = pop_04.merge(h_grouped, how='left',on=['year','month','FIPS','Gender','AgeGroup'])

In [129]:
hosp_merged = hosp_merged[hosp_merged['year']<2014]
hosp_merged.to_csv('Hosp_Pop_Merged.csv')

In [132]:
hosp_merged['Patients_ratio'] = np.array(hosp_merged['Patients_Count']) / np.array(hosp_merged['Population']) 
hosp_merged.to_csv('Hosp_Pop_Merged.csv')

In [160]:
vaccine_data = pd.read_csv('WA_state_vaccine_data.csv')

vaccine_data['year'] = "20" + vaccine_data['MONTH_YR'].str[-2:]
vaccine_data['year'] = vaccine_data['year'].astype(int)
vaccine_data = vaccine_data[(vaccine_data['year'] >= 2004) & (vaccine_data['year'] < 2014)]
vaccine_data['month'] = vaccine_data['MONTH_YR'].str[:3]
vaccine_data.reset_index(inplace=True)
vaccine_data.replace(to_replace=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], value=[1,2,3,4,5,6,7,8,9,10,11,12], inplace=True)

vaccine_data

,index,ADDRESS_ZIP,MONTH_YR,TOTAL POPULATION,DTAP4,POLIO3,MMR1,HEPB3,HIB3,VAR1,PCV4,4313314 SERIES,year,month
0,26954,0,Jan-04,102,48,68,66,62,71,58,22,22,2004,1
1,26955,98001,Jan-04,15,8,10,10,10,10,8,3,3,2004,1
2,26956,98002,Jan-04,41,21,25,28,22,26,25,14,13,2004,1
3,26957,98003,Jan-04,38,21,25,25,26,28,23,13,15,2004,1
4,26958,98004,Jan-04,12,8,9,9,9,8,8,3,4,2004,1
5,26959,98005,Jan-04,4,2,3,3,3,3,3,3,3,2004,1
6,26960,98006,Jan-04,16,8,10,10,9,10,9,7,6,2004,1
7,26961,98007,Jan-04,20,12,13,15,10,17,15,7,7,2004,1
8,26962,98008,Jan-04,14,10,11,10,10,11,10,2,3,2004,1
9,26963,98010,Jan-04,2,1,2,2,2,2,1,0,1,2004,1
10,26964,98011,Jan-04,13,8,10,10,4,9,8,3,1,2004,1
11,26965,98012,Jan-04,33,25,28,25,26,29,24,10,11,2004,1
12,26966,98014,Jan-04,1,1,1,1,1,1,1,0,0,2004,1
13,26967,98019,Jan-04,8,6,7,6,6,7,6,1,1,2004,1
14,26968,98020,Jan-04,8,5,6,7,6,5,6,0,0,2004,1
15,26969,98021,Jan-04,17,10,10,14,7,12,14,8,4,2004,1
16,26970,98022,Jan-04,6,1,3,2,2,4,1,0,1,2004,1
17,26971,98023,Jan-04,42,31,35,35,34,35,30,13,12,2004,1
18,26972,98024,Jan-04,2,2,2,2,2,2,1,0,0,2004,1
19,26973,98025,Jan-04,1,1,1,1,0,1,1,0,0,2004,1
20,26974,98026,Jan-04,22,14,14,19,17,16,18,6,7,2004,1
21,26975,98027,Jan-04,11,8,8,9,10,10,9,4,4,2004,1
22,26976,98028,Jan-04,13,9,8,11,6,8,8,5,3,2004,1
23,26977,98029,Jan-04,13,10,10,11,10,10,10,6,6,2004,1
24,26978,98030,Jan-04,29,13,14,19,15,17,14,3,2,2004,1
25,26979,98031,Jan-04,56,35,40,44,36,40,42,17,21,2004,1
26,26980,98032,Jan-04,33,12,15,16,9,17,15,8,5,2004,1
27,26981,98033,Jan-04,14,8,9,10,11,10,7,3,3,2004,1
28,26982,98034,Jan-04,18,9,9,12,10,11,11,3,3,2004,1
29,26983,98036,Jan-04,29,16,18,20,18,20,15,8,9,2004,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78646,105600,99326,Dec-13,101,78,93,90,92,92,90,80,81,2013,12
78647,105601,99328,Dec-13,44,27,28,34,28,30,33,25,24,2013,12
78648,105602,99329,Dec-13,4,2,3,3,3,3,2,3,3,2013,12
78649,105603,99330,Dec-13,52,42,48,47,45,47,47,41,42,2013,12
78650,105604,99333,Dec-13,2,1,1,1,1,1,1,1,1,2013,12
78651,105605,99335,Dec-13,2,2,2,2,2,2,2,2,2,2013,12
78652,105606,99336,Dec-13,1259,930,1087,1071,1073,1099,1078,894,917,2013,12
78653,105607,99337,Dec-13,509,391,448,436,439,453,436,386,384,2013,12
78654,105608,99338,Dec-13,252,203,227,225,213,233,223,199,197,2013,12
78655,105609,99341,Dec-13,9,5,6,7,6,5,7,5,5,2013,12
78656,105610,99343,Dec-13,79,63,67,67,69,71,69,62,66,2013,12
78657,105611,99344,Dec-13,555,419,505,490,515,503,488,445,444,2013,12
78658,105612,99345,Dec-13,11,8,10,8,10,10,8,8,7,2013,12
78659,105613,99346,Dec-13,4,3,4,4,4,4,4,3,3,2013,12
78660,105614,99347,Dec-13,29,23,26,23,27,26,25,23,23,2013,12
78661,105615,99348,Dec-13,27,23,23,22,21,24,22,21,21,2013,12
78662,105616,99349,Dec-13,276,245,263,259,264,261,260,240,244,2013,12
78663,105617,99350,Dec-13,258,189,217,215,218,220,213,190,192,2013,12
78664,105618,99352,Dec-13,579,454,510,497,493,515,503,449,437,2013,12
78665,105619,99353,Dec-13,301,228,262,250,254,269,248,226,223,2013,12
78666,105620,99354,Dec-13,404,282,340,318,331,353,311,272,283,2013,12
78667,105621,99356,Dec-13,10,9,9,9,9,9,9,9,9,2013,12
78668,105622,99357,Dec-13,178,154,171,168,168,171,162,152,154,2013,12
78669,105623,99360,Dec-13,16,10,11,12,11,12,11,9,8,2013,12
78670,105624,99361,Dec-13,21,14,16,13,16,16,11,13,13,2013,12
78671,105625,99362,Dec-13,682,341,427,420,411,437,410,343,345,2013,12
78672,105626,99371,Dec-13,2,0,0,2,2,2,2,0,0,2013,12
78673,105627,99401,Dec-13,2,1,1,1,1,1,1,1,1,2013,12
78674,105628,99402,Dec-13,20,10,10,12,7,11,13,8,7,2013,12
78675,105629,99403,Dec-13,284,111,160,189,134,171,203,107,100,2013,12

In [159]:
vaccine_data['month'].unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

In [171]:
zip_list = h_data[['pstco2','zip']].drop_duplicates('zip')
zip_list.rename(columns={'pstco2':'FIPS','zip':"ADDRESS_ZIP"}, inplace=True)
zip_county = zip_list.merge(county, how='inner', on='FIPS')
vaccine_data = vaccine_data.merge(zip_county, how='inner', on='ADDRESS_ZIP')

In [177]:
vaccine_g = vaccine_data.groupby(['year','month','FIPS','County']).sum()
vaccine_g.reset_index(inplace=True)
vaccine_g['AgeGroup'] = [1]*len(vaccine_g)
vaccine_g = vaccine_g[['year','month','FIPS','County','AgeGroup','TOTAL POPULATION','4313314 SERIES']]
vaccine_g.to_csv('Vaccine_Cleaned.csv')

In [178]:
vaccine_g

,year,month,FIPS,County,AgeGroup,TOTAL POPULATION,4313314 SERIES
0,2004,1,53001,Adams County,1,56,28
1,2004,1,53003,Asotin County,1,99,17
2,2004,1,53005,Benton County,1,195,46
3,2004,1,53007,Chelan County,1,58,17
4,2004,1,53009,Clallam County,1,43,6
5,2004,1,53011,Clark County,1,486,104
6,2004,1,53013,Columbia County,1,3,0
7,2004,1,53015,Cowlitz County,1,95,26
8,2004,1,53017,Douglas County,1,24,5
9,2004,1,53019,Ferry County,1,2,1
10,2004,1,53021,Franklin County,1,137,45
11,2004,1,53023,Garfield County,1,6,0
12,2004,1,53025,Grant County,1,124,41
13,2004,1,53027,Grays Harbor County,1,70,15
14,2004,1,53029,Island County,1,36,11
15,2004,1,53031,Jefferson County,1,12,1
16,2004,1,53033,King County,1,1236,379
17,2004,1,53035,Kitsap County,1,183,63
18,2004,1,53037,Kittitas County,1,21,4
19,2004,1,53039,Klickitat County,1,37,7
20,2004,1,53041,Lewis County,1,66,20
21,2004,1,53043,Lincoln County,1,4,1
22,2004,1,53045,Mason County,1,64,18
23,2004,1,53047,Okanogan County,1,60,15
24,2004,1,53049,Pacific County,1,11,2
25,2004,1,53051,Pend Oreille County,1,9,0
26,2004,1,53053,Pierce County,1,563,164
27,2004,1,53055,San Juan County,1,7,2
28,2004,1,53057,Skagit County,1,109,21
29,2004,1,53059,Skamania County,1,14,3
...,...,...,...,...,...,...,...
4648,2013,12,53019,Ferry County,1,101,57
4649,2013,12,53021,Franklin County,1,2435,1941
4650,2013,12,53023,Garfield County,1,29,23
4651,2013,12,53025,Grant County,1,2341,1909
4652,2013,12,53027,Grays Harbor County,1,1114,812
4653,2013,12,53029,Island County,1,1134,509
4654,2013,12,53031,Jefferson County,1,297,181
4655,2013,12,53033,King County,1,34327,24666
4656,2013,12,53035,Kitsap County,1,3919,2418
4657,2013,12,53037,Kittitas County,1,564,356
4658,2013,12,53039,Klickitat County,1,239,91
4659,2013,12,53041,Lewis County,1,1273,931
4660,2013,12,53043,Lincoln County,1,154,88
4661,2013,12,53045,Mason County,1,855,436
4662,2013,12,53047,Okanogan County,1,829,570
4663,2013,12,53049,Pacific County,1,210,130
4664,2013,12,53051,Pend Oreille County,1,172,53
4665,2013,12,53053,Pierce County,1,15537,8884
4666,2013,12,53055,San Juan County,1,126,70
4667,2013,12,53057,Skagit County,1,2103,910
4668,2013,12,53059,Skamania County,1,119,65
4669,2013,12,53061,Snohomish County,1,13154,8719
4670,2013,12,53063,Spokane County,1,7883,3731
4671,2013,12,53065,Stevens County,1,677,338
4672,2013,12,53067,Thurston County,1,4354,2418
4673,2013,12,53069,Wahkiakum County,1,40,27
4674,2013,12,53071,Walla Walla County,1,964,514
4675,2013,12,53073,Whatcom County,1,3195,1962
4676,2013,12,53075,Whitman County,1,554,261
4677,2013,12,53077,Yakima County,1,5984,4022

In [196]:
# hosp_merged.groupby(['year'])
group1_pop = pop_04[pop_04['AgeGroup']==1]
group1_pop = group1_pop.groupby(['year','month','County','FIPS','AgeGroup']).sum()
group1_pop.reset_index(inplace=True)
group1_pop = group1_pop[['year','month','County','FIPS','AgeGroup','Population']]

h_group1 = h_grouped[h_grouped['AgeGroup']==1]
h_group1 = h_group1.groupby(['year','month','FIPS','AgeGroup']).sum()
h_group1.reset_index(inplace=True)
h_group1 = h_group1[['year','month','FIPS','AgeGroup','Patients_Count']]

gr1_pop_hosp = group1_pop.merge(h_group1, how='inner', on = ['year','month','FIPS','AgeGroup'])
hosp_vaccine1 = gr1_pop_hosp.merge(vaccine_g, how='left', on=['year','month','FIPS','County','AgeGroup'])
hosp_vaccine1.rename(columns={"TOTAL POPULATION":'all_vaccinated','4313314 SERIES':"4313314_SERIES"}, inplace=True)
hosp_vaccine1['Patients_Ratio'] = np.array(hosp_vaccine1['Patients_Count']) / np.array(hosp_vaccine1['Population'])
hosp_vaccine1['All_Vaccinated_Ratio'] = np.array(hosp_vaccine1['all_vaccinated']) / np.array(hosp_vaccine1['Population'])
hosp_vaccine1['All_4313314_Ratio'] = np.array(hosp_vaccine1['4313314_SERIES']) / np.array(hosp_vaccine1['Population'])
hosp_vaccine1['Timeline'] =  np.array(hosp_vaccine1['year'].astype(str)) + "-" +np.array(hosp_vaccine1['month'].astype(str))
hosp_vaccine1.to_csv("Master_Data_Final.csv")
hosp_vaccine1

,year,month,County,FIPS,AgeGroup,Population,Patients_Count,all_vaccinated,4313314_SERIES,Patients_Ratio,All_Vaccinated_Ratio,All_4313314_Ratio,Timeline
0,2004,1,Adams County,53001,1,1663,41,56,28,0.024654,0.033674,0.016837,2004-1
1,2004,1,Asotin County,53003,1,1276,2,99,17,0.001567,0.077586,0.013323,2004-1
2,2004,1,Benton County,53005,1,11142,211,195,46,0.018937,0.017501,0.004129,2004-1
3,2004,1,Chelan County,53007,1,4666,108,58,17,0.023146,0.012430,0.003643,2004-1
4,2004,1,Clallam County,53009,1,3122,61,43,6,0.019539,0.013773,0.001922,2004-1
5,2004,1,Clark County,53011,1,28556,428,486,104,0.014988,0.017019,0.003642,2004-1
6,2004,1,Columbia County,53013,1,191,5,3,0,0.026178,0.015707,0.000000,2004-1
7,2004,1,Cowlitz County,53015,1,5978,100,95,26,0.016728,0.015892,0.004349,2004-1
8,2004,1,Douglas County,53017,1,2339,51,24,5,0.021804,0.010261,0.002138,2004-1
9,2004,1,Ferry County,53019,1,408,12,2,1,0.029412,0.004902,0.002451,2004-1
10,2004,1,Franklin County,53021,1,6390,121,137,45,0.018936,0.021440,0.007042,2004-1
11,2004,1,Grant County,53025,1,6838,144,124,41,0.021059,0.018134,0.005996,2004-1
12,2004,1,Grays Harbor County,53027,1,3982,79,70,15,0.019839,0.017579,0.003767,2004-1
13,2004,1,Island County,53029,1,4699,44,36,11,0.009364,0.007661,0.002341,2004-1
14,2004,1,Jefferson County,53031,1,1103,24,12,1,0.021759,0.010879,0.000907,2004-1
15,2004,1,King County,53033,1,108233,2096,1236,379,0.019366,0.011420,0.003502,2004-1
16,2004,1,Kitsap County,53035,1,15034,185,183,63,0.012305,0.012172,0.004191,2004-1
17,2004,1,Kittitas County,53037,1,1864,37,21,4,0.019850,0.011266,0.002146,2004-1
18,2004,1,Klickitat County,53039,1,1112,12,37,7,0.010791,0.033273,0.006295,2004-1
19,2004,1,Lewis County,53041,1,4357,80,66,20,0.018361,0.015148,0.004590,2004-1
20,2004,1,Lincoln County,53043,1,529,6,4,1,0.011342,0.007561,0.001890,2004-1
21,2004,1,Mason County,53045,1,2809,47,64,18,0.016732,0.022784,0.006408,2004-1
22,2004,1,Okanogan County,53047,1,2412,42,60,15,0.017413,0.024876,0.006219,2004-1
23,2004,1,Pacific County,53049,1,944,7,11,2,0.007415,0.011653,0.002119,2004-1
24,2004,1,Pend Oreille County,53051,1,660,9,9,0,0.013636,0.013636,0.000000,2004-1
25,2004,1,Pierce County,53053,1,50505,938,563,164,0.018572,0.011147,0.003247,2004-1
26,2004,1,San Juan County,53055,1,494,10,7,2,0.020243,0.014170,0.004049,2004-1
27,2004,1,Skagit County,53057,1,6891,143,109,21,0.020752,0.015818,0.003047,2004-1
28,2004,1,Skamania County,53059,1,608,4,14,3,0.006579,0.023026,0.004934,2004-1
29,2004,1,Snohomish County,53061,1,43435,813,522,133,0.018718,0.012018,0.003062,2004-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4147,2013,12,Cowlitz County,53015,1,5909,116,1839,1325,0.019631,0.311220,0.224234,2013-12
4148,2013,12,Douglas County,53017,1,2736,40,744,630,0.014620,0.271930,0.230263,2013-12
4149,2013,12,Ferry County,53019,1,349,4,101,57,0.011461,0.289398,0.163324,2013-12
4150,2013,12,Franklin County,53021,1,8744,128,2435,1941,0.014639,0.278477,0.221981,2013-12
4151,2013,12,Grant County,53025,1,8026,120,2341,1909,0.014951,0.291677,0.237852,2013-12
4152,2013,12,Grays Harbor County,53027,1,3999,53,1114,812,0.013253,0.278570,0.203051,2013-12
4153,2013,12,Island County,53029,1,4383,39,1134,509,0.008898,0.258727,0.116131,2013-12
4154,2013,12,Jefferson County,53031,1,1007,13,297,181,0.012910,0.294935,0.179742,2013-12
4155,2013,12,King County,53033,1,128161,2102,34327,24666,0.016401,0.267843,0.192461,2013-12
4156,2013,12,Kitsap County,53035,1,14411,168,3919,2418,0.011658,0.271945,0.167788,2013-12
4157,2013,12,Kittitas County,53037,1,2128,31,564,356,0.014568,0.265038,0.167293,2013-12
4158,2013,12,Klickitat County,53039,1,1070,2,239,91,0.001869,0.223364,0.085047,2013-12
4159,2013,12,Lewis County,53041,1,4349,65,1273,931,0.014946,0.292711,0.214072,2013-12
4160,2013,12,Lincoln County,53043,1,479,10,154,88,0.020877,0.321503,0.183716,2013-12
4161,2013,12,Mason County,53045,1,3257,59,855,436,0.018115,0.262512,0.133866,2013-12
4162,2013,12,Okanogan County,53047,1,2644,26,829,570,0.009834,0.313540,0.215582,2013-12
4163,2013,12,Pacific County,53049,1,949,11,210,130,0.011591,0.221286,0.136986,2013-12
4164,2013,12,Pend Oreille County,53051,1,593,6,172,53,0.010118,0.290051,0.089376,2013-12
4165,2013,12,Pierce County,53053,1,57254,812,15537,8884,0.014182,0.271370,0.155168,2013-12
4166,2013,12,San Juan County,53055,1,478,10,126,70,0.020921,0.263598,0.146444,2013-12
4167,2013,12,Skagit County,53057,1,7386,115,2103,910,0.015570,0.284728,0.123206,2013-12
4168,2013,12,Skamania County,53059,1,514,3,119,65,0.005837,0.231518,0.126459,2013-12
4169,2013,12,Snohomish County,53061,1,47272,782,13154,8719,0.016543,0.278262,0.184443,2013-12
4170,2013,12,Spokane County,53063,1,29768,481,7883,3731,0.016158,0.264815,0.125336,2013-12
4171,2013,12,Stevens County,53065,1,2231,32,677,338,0.014343,0.303451,0.151502,2013-12
4172,2013,12,Thurston County,53067,1,16074,204,4354,2418,0.012691,0.270872,0.150429,2013-12
4173,2013,12,Walla Walla County,53071,1,3497,69,964,514,0.019731,0.275665,0.146983,2013-12
4174,2013,12,Whatcom County,53073,1,11536,147,3195,1962,0.012743,0.276959,0.170076,2013-12
4175,2013,12,Whitman County,53075,1,2218,31,554,261,0.013977,0.249775,0.117674,2013-12
4176,2013,12,Yakima County,53077,1,20877,336,5984,4022,0.016094,0.286631,0.192652,2013-12