In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from pylab import *
from scipy import *
from pylab import rcParams
import statsmodels.formula.api as smf
%matplotlib inline

In [2]:
raw_data_99 = pd.read_csv('/Users/Akash/Desktop/Projects/hcup-data/data/raw_data_1990_1999.txt', sep = '\t', header = None)
raw_data_99.head()

                         0
0  90  01001  0 1 1    239
1  90  01001  0 2 1    203
2  90  01001  1 1 1    821
3  90  01001  1 2 1    769
4  90  01001  2 1 1   1089

In [3]:
# Filtering Data to retain only Washington state counties

WA_data_99 = raw_data_99[(raw_data_99[0].str.contains('53001')) |
                         (raw_data_99[0].str.contains('53003')) | 
                         (raw_data_99[0].str.contains('53005')) | 
                         (raw_data_99[0].str.contains('53007')) | 
                         (raw_data_99[0].str.contains('53009')) | 
                         (raw_data_99[0].str.contains('53011')) |
                         (raw_data_99[0].str.contains('53013')) |
                         (raw_data_99[0].str.contains('53015')) |
                         (raw_data_99[0].str.contains('53017')) |
                         (raw_data_99[0].str.contains('53019')) |
                         (raw_data_99[0].str.contains('53021')) |
                         (raw_data_99[0].str.contains('53023')) |
                         (raw_data_99[0].str.contains('53025')) |
                         (raw_data_99[0].str.contains('53027')) |
                         (raw_data_99[0].str.contains('53029')) |
                         (raw_data_99[0].str.contains('53031')) |
                         (raw_data_99[0].str.contains('53033')) |
                         (raw_data_99[0].str.contains('53035')) |
                         (raw_data_99[0].str.contains('53037')) |
                         (raw_data_99[0].str.contains('53039')) |
                         (raw_data_99[0].str.contains('53041')) |
                         (raw_data_99[0].str.contains('53043')) |
                         (raw_data_99[0].str.contains('53045')) |
                         (raw_data_99[0].str.contains('53047')) |
                         (raw_data_99[0].str.contains('53049')) |
                         (raw_data_99[0].str.contains('53051')) |
                         (raw_data_99[0].str.contains('53053')) |
                         (raw_data_99[0].str.contains('53055')) |
                         (raw_data_99[0].str.contains('53057')) |
                         (raw_data_99[0].str.contains('53059')) |
                         (raw_data_99[0].str.contains('53061')) |
                         (raw_data_99[0].str.contains('53063')) |
                         (raw_data_99[0].str.contains('53065')) |
                         (raw_data_99[0].str.contains('53067')) |
                         (raw_data_99[0].str.contains('53069')) |
                         (raw_data_99[0].str.contains('53071')) |
                         (raw_data_99[0].str.contains('53073')) |
                         (raw_data_99[0].str.contains('53075')) |
                         (raw_data_99[0].str.contains('53077'))]

In [4]:
len(WA_data_99)
WA_data_99.head()

                              0
897408  90  53001  0 1 1     64
897409  90  53001  0 2 1     72
897410  90  53001  1 1 1    273
897411  90  53001  1 2 1    233
897412  90  53001  2 1 1    399

In [5]:
WA_data_99_clean = pd.DataFrame(columns = ['year','FIPS_state_code','FIPS_county_code','race_sex','ethnic_origin','pop'])
val = []

In [6]:
index_vals = range(len(WA_data_99))
WA_data = list(WA_data_99[0])
WA_data_99_df = pd.DataFrame(WA_data,index=index_vals)

In [7]:
def append_df(val,i):
    WA_data_99_clean.set_value(i, 'year', val[1])
    WA_data_99_clean.set_value(i,'FIPS_state_code', val[2])
    WA_data_99_clean.set_value(i,'FIPS_county_code', val[3])
    WA_data_99_clean.set_value(i,'race_sex', val[4])
    WA_data_99_clean.set_value(i,'ethnic_origin', val[5])
    WA_data_99_clean.set_value(i,'pop', val[6])

for i in WA_data_99_df.index.tolist():
    val = list(str(WA_data_99_df.iloc[i]).split())
    append_df(val,i)

In [8]:
WA_data_99_clean.to_csv("WA_data_99_clean.csv", cols =['year','FIPS_state_code','FIPS_county_code','race_sex','ethnic_origin','pop'])

In [9]:
WA_data_99_clean = pd.read_csv("/Users/Akash/Desktop/Projects/hcup-population/WA_data_99_clean.csv")

In [10]:
WA_data_99_clean = WA_data_99_clean.rename(columns={'FIPS_county_code':'age_group'})
WA_data_99_clean = WA_data_99_clean.rename(columns = {'pop': 'population'})
WA_data_99_clean.head()

,Unnamed: 0,year,FIPS_state_code,age_group,race_sex,ethnic_origin,population
0,0,90,53001,0,1,1,64
1,1,90,53001,0,2,1,72
2,2,90,53001,1,1,1,273
3,3,90,53001,1,2,1,233
4,4,90,53001,2,1,1,399

In [59]:
WA_data_99_clean1 = WA_data_99_clean
WA_data_99_clean1['race_sex_name'] = WA_data_99_clean1['race_sex']
WA_data_99_clean1["county"] = WA_data_99_clean1['FIPS_state_code']
WA_data_99_clean1['age_category'] = WA_data_99_clean1['age_group']

WA_data_99_clean1 = WA_data_99_clean.replace(to_replace={'race_sex_name': {1: "white_male", 2: "white_female", 3: "black_male", 4: "black_female",
                                                 5: "american_indian/alaska_male", 6: "american_indian/alaska_female", 7: "asian/pacific_male", 
                                                  8: "asian/pacific_female"} , 'ethnic_origin': {1: "not_hispanic/latino", 2: "hispanic/latino"}})

WA_data_99_clean1 = WA_data_99_clean1.replace(to_replace = {'county':{53001:'Adams County', 53003:'Asotin County', 53005: 'Benton County', 53007:'Chelan County',
                                                                     53009: 'Clallam County', 53011:'Clark County', 53013:'Columbia County', 53015:'Cowlitz County', 53017: 'Douglas County',
                                                                     53019: 'Ferry County', 53021: 'Franklin County', 53023:'Garfield County', 53025: 'Grant County', 53027: 'Grays Harbor County', 53029:'Island County', 53031: 'Jefferson County',
                                                                     53033: 'King County', 53035: 'Kitsap County', 53037: 'Kittitas County', 53039: 'Klickitat County', 53041: 'Lewis County', 53043: 'Lincoln County', 
                                                                     53045: 'Mason County', 53047: 'Okanogan County', 53049: 'Pacific County', 53051: 'Pend Oreille County', 53053: 'Pierce County', 53055: 'San Juan County', 
                                                                     53057: 'Skagit County', 53059: 'Skamania County', 53061: 'Snohomish County', 53063: 'Spokane County', 53065: 'Stevens County', 53067: 'Thurston County', 
                                                                     53069: 'Wahkiakum County', 53071: 'Walla Walla County', 53073: 'Whatcom County', 53075: 'Whitman County', 53077: 'Yakima County'}})

WA_data_99_clean1 = WA_data_99_clean1.replace(to_replace = {'age_category': {0:'below 1 yr', 1: '1-4 yrs', 2: '5-9 yrs', 3: '10-14 yrs', 4: '15-19 yrs', 
                                                     5: '20-24 yrs', 6: '25-29 yrs', 7: '30-34 yrs', 8: '35-39 yrs', 9: '40-44 yrs', 
                                                     10: '45-49 yrs', 11: '50-54 yrs', 12: '55-59 yrs', 13: '60-64 yrs', 14: '65-69 yrs',
                                                     15: '70-74 yrs', 16: '75-79 yrs', 17:'80-84 yrs', 18: 'over 85 yrs'}})
WA_data_99_clean1.head()

,Unnamed: 0,year,FIPS_state_code,age_group,race_sex,ethnic_origin,population,race_sex_name,county,age_category
0,0,90,53001,0,1,not_hispanic/latino,64,white_male,Adams County,below 1 yr
1,1,90,53001,0,2,not_hispanic/latino,72,white_female,Adams County,below 1 yr
2,2,90,53001,1,1,not_hispanic/latino,273,white_male,Adams County,1-4 yrs
3,3,90,53001,1,2,not_hispanic/latino,233,white_female,Adams County,1-4 yrs
4,4,90,53001,2,1,not_hispanic/latino,399,white_male,Adams County,5-9 yrs

In [63]:
WA_population = pd.DataFrame(WA_data_99_clean1.groupby(['year','county']).sum()['population'])
WA_population.reset_index(level=0, inplace = True)
WA_population.reset_index(level=0, inplace = True)
WA_population = WA_population.rename(columns = {'population': 'total_population'})
WA_population.head()

           county  year  total_population
0    Adams County    90             13636
1   Asotin County    90             17666
2   Benton County    90            113583
3   Chelan County    90             52476
4  Clallam County    90             56525

In [64]:
pop_gender = WA_data_99_clean1
pop_gender.head()
pop_gender['gender'] = pop_gender['race_sex']
pop_gender = pop_gender.replace(to_replace = {'gender': {1:'M', 2: 'F', 3:'M', 4:'F', 5:'M', 6:'F', 7:'M', 8:'F'}})
pop_gender = pd.DataFrame(pop_gender.groupby(['year','county','gender']).sum()['population'])
pop_gender.reset_index(level = 0, inplace = True)
pop_gender.reset_index(level = 0, inplace = True)
pop_gender.reset_index(level = 0, inplace = True)

In [65]:
pop_male = pop_gender[pop_gender['gender'] == 'M']
pop_male = pop_male.rename(columns = {'population':'population_male'})
WA_population = pd.merge(pop_male[['county','year','population_male']], WA_population, on = ['county','year'], how = 'inner')

WA_population.head()

           county  year  population_male  total_population
0    Adams County    90             6879             13636
1   Asotin County    90             8416             17666
2   Benton County    90            56167            113583
3   Chelan County    90            25901             52476
4  Clallam County    90            28008             56525

In [66]:
pop_female = pop_gender[pop_gender['gender'] == 'F']
pop_female = pop_female.rename(columns = {'population':'population_female'})
WA_population = pd.merge(pop_female[['county','year','population_female']], WA_population, on = ['county','year'], how = 'inner')

WA_population.head()

           county  year  population_female  population_male  total_population
0    Adams County    90               6757             6879             13636
1   Asotin County    90               9250             8416             17666
2   Benton County    90              57416            56167            113583
3   Chelan County    90              26575            25901             52476
4  Clallam County    90              28517            28008             56525

In [90]:
WA_data_99_clean1.tail()
WA_data = WA_data_99_clean1[['year','FIPS_state_code','age_group','population','county','gender']]
WA_data = WA_data.replace(to_replace = {'gender': {1:'1', 2: '2', 3:'1', 4:'2', 5:'1', 6:'2', 7:'1', 8:'2'}})
WA_data = WA_data.replace(to_replace = {'age_group': {0:1}})

In [80]:
x = WA_data.groupby(['year','FIPS_state_code','age_group','gender','county']).sum()

In [81]:
x.reset_index(level = 0, inplace = True)
x.reset_index(level = 0, inplace = True)
x.reset_index(level = 0, inplace = True)
x.reset_index(level = 0, inplace = True)
x.reset_index(level = 0, inplace = True)

In [85]:
x

              county gender  age_group  FIPS_state_code  year  population
0       Adams County      1          1            53001    90         665
1       Adams County      2          1            53001    90         666
2       Adams County      1          2            53001    90         698
3       Adams County      2          2            53001    90         660
4       Adams County      1          3            53001    90         706
5       Adams County      2          3            53001    90         662
6       Adams County      1          4            53001    90         544
7       Adams County      2          4            53001    90         499
8       Adams County      1          5            53001    90         403
9       Adams County      2          5            53001    90         336
10      Adams County      1          6            53001    90         457
11      Adams County      2          6            53001    90         481
12      Adams County      1          7            53001    90         523
13      Adams County      2          7            53001    90         482
14      Adams County      1          8            53001    90         507
15      Adams County      2          8            53001    90         514
16      Adams County      1          9            53001    90         435
17      Adams County      2          9            53001    90         433
18      Adams County      1         10            53001    90         372
19      Adams County      2         10            53001    90         339
20      Adams County      1         11            53001    90         315
21      Adams County      2         11            53001    90         301
22      Adams County      1         12            53001    90         267
23      Adams County      2         12            53001    90         287
24      Adams County      1         13            53001    90         291
25      Adams County      2         13            53001    90         279
26      Adams County      1         14            53001    90         236
27      Adams County      2         14            53001    90         268
28      Adams County      1         15            53001    90         214
29      Adams County      2         15            53001    90         203
...              ...    ...        ...              ...   ...         ...
14012  Yakima County      1          4            53077    99        9788
14013  Yakima County      2          4            53077    99        8832
14014  Yakima County      1          5            53077    99        7609
14015  Yakima County      2          5            53077    99        7065
14016  Yakima County      1          6            53077    99        7566
14017  Yakima County      2          6            53077    99        7321
14018  Yakima County      1          7            53077    99        7614
14019  Yakima County      2          7            53077    99        7175
14020  Yakima County      1          8            53077    99        8135
14021  Yakima County      2          8            53077    99        7928
14022  Yakima County      1          9            53077    99        7896
14023  Yakima County      2          9            53077    99        7800
14024  Yakima County      1         10            53077    99        6942
14025  Yakima County      2         10            53077    99        7143
14026  Yakima County      1         11            53077    99        6075
14027  Yakima County      2         11            53077    99        6061
14028  Yakima County      1         12            53077    99        4722
14029  Yakima County      2         12            53077    99        4686
14030  Yakima County      1         13            53077    99        3631
14031  Yakima County      2         13            53077    99        3866
14032  Yakima County      1         14            53077    99        3012
14033  Yakima County      2         14            53077    99        3393
14034  Yakima County      1         15            53077    99        2673
14035  Yakima County      2         15            53077    99        3327
14036  Yakima County      1         16            53077    99        2181
14037  Yakima County      2         16            53077    99        3033
14038  Yakima County      1         17            53077    99        1413
14039  Yakima County      2         17            53077    99        2344
14040  Yakima County      1         18            53077    99        1142
14041  Yakima County      2         18            53077    99        2348

[14042 rows x 6 columns]

In [92]:
x.to_csv("WA_90.csv")